@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(60.97deg, #8002ff 10.84%, #00e0e0 70.67%);
  --gradient-bar: linear-gradient(103.22deg, #04ffab -13.86%, #5900ff 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #60ff65;
}